Subject: CDR request for case {{ case_number }}

To: Nodal Officer, {{ provider_name }}

Please provide CDR/IPDR and subscriber details for the identifiers listed below in connection with {{ case_number }}.
Legal basis: {{ legal_basis }}

Data requested:
{{ data_requested }}

Regards,
{{ officer_name }}
